@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');


/* HOMEPAGE  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif ;
}
h1,h2,h3,h4{
  font-weight: 700;
}
h5{
  font-weight: 600;
}

.mycarousel {
  max-width: 1440px !important;
  margin: 0 auto;
}

.mycard {
  max-width: 300px;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0 auto;
  color: black;
}

.mycard:hover {
  -webkit-transform: skew(-2deg, 2deg) scale(1.1);
          transform: skew(-2deg, 2deg) scale(1.1);
}

.service-card {
  border: none;
  min-height: 248px;
}

.service-card:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.service-card i {
  padding: 1rem;
  font-size: 5rem;
  color: orange;
}

.icons {
  margin-top: 10px;
}

.icons i {
  font-size: 1.5rem;
  color: orange;
}

.fa-brands {
  padding: 0 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  font-size: 1.5rem;
  color: orange;
}

.btn-primary {
  background: orange !important;
  border: orange !important;
}

* a {
  text-decoration: none !important;
}
.event-showcase .card-img-top{
  height: 200px;
}
.event-showcase .mycard{
  min-height: 350px;
}
.small-text{
  
  font-size: 14px;
}

.login .myform{
  max-width: 360px;
  width: 100%;
}

.signup .myform{
  max-width: 400px;
  width: 100%;
}

.login a,.signup a{
  color:  gray !important;
}

.login a:hover,.signup a:hover{
  color: orange !important;
}

.food-inp{
  padding: 20px;
}
a{
  color:gray !important;
}

footer a:hover{
  color:orange !important;
}

header a:hover{
  color: orange !important;
}

.logo{
  width: 100px;
}

.carousel-img{
  max-width: 1440px;
  width: 100%;
  height: 400px;
}


