.eventdisplay {
  display: flex;
  flex-direction: row;
}

.eventdetails {

  padding: 10px;
}

.bookingbtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.row > * {
  flex-shrink: unset;
}
.carousel .carousel-item {

  height: 520px;
  
  }
   
  .carousel-item img {
  
  position: absolute;
  
  top: 0;
  
  left: 0;
  
  min-height: 520px;
  
  }
  .eventwrap {

    margin: 10px;
    
    border: 1px solid lightgrey;
    
    padding: 5px;
    
    border-radius: 5px;
    
    }
    .iconstyle {
      color: orange;
      padding-right: 10px;
    }
    .eventtime {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    